.App {
  text-align: center;
  margin: 50px auto;
  font-size: 18px;
}

p {
  transition: color .2s;
}

span {
  padding: 0 6px;
}

input {
  color: inherit;
  font-size: inherit;
  text-align: center;
  border: solid currentColor;
  border-width: 0 0 2px;
}

input:focus {
  outline: none;
}

.pass {
  color: #689f38;
}

.fail {
  color: #f4511e;
}